.App {
  text-align: center; 
  margin-left: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  

h2 {
  font-size: 40px;
  margin-top: 160px;
  text-align: center!important;
  text-shadow:rgb(95, 94, 94) 10px 10px 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700; 

} 
p { 
  font-size: 15px; 
  margin-top: -520px;
  text-align: center!important; 
  text-combine-upright: gray;

} 
img {
  height: 1000px; 
  width: 650px; 
  margin-top: -230px; 
  margin-left: 380px;
}
